* {
  font-family: Roboto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  position: relative;
}

#map {
  grid-area: map;
  width: 100%;
  height: 100%;
  min-height: 400px;

  &:hover {
    overflow: initial !important;
  }
}

#flight-info {
  grid-area: finfo;
  min-height: 300px;

  .flight-info__no-flight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    color: #8d8d8d;
    text-align: center;
  }

  .flight-info__info {
    display: none;
    height: 100%;
    overflow-y: auto;
  }

  .flight-info-table {
    width: 100%;
    height: 0%;
    min-height: 400px;
    padding-left: 10px;

    tr {
      .left-column {
        width: 40%;
        font-size: 13px;
        color: #8a8a8a;
        vertical-align: middle;
      }
  
      .right-column {
        width: 60%;
        max-width: 130px;
        font-size: 15px;
        color: #ffffff;
        vertical-align: middle;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#total-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 130px;
  padding: 10px;
  grid-area: total;

  .total-info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
    color: white;

    .block-name {
      font-size: 12px;
      margin-bottom: 5px;
      color: #8d8d8d;
    }

    .block-value {
      font-size: 20px;
    }
  }
}

#flights {
  grid-area: flights;
  min-height: 300px;

  .flights__no-flights {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    color: #8d8d8d;
    text-align: center;
  }

  .flights__flights {
    display: none;
    height: 100%;

    .flights-search {
      width: 100%;
      height: 45px;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #505050;
      background-color: transparent;
      color: white;
      font-size: 16px;
    }
  
    .flights-display {
      width: 100%;
      height: calc(100% - 45px);
      overflow-y: auto;
  
      .flight-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #3b3b3b;
        width: 100%;
        height: 50px;
        background-color: #333;
        cursor: pointer;
  
        .flight-item-country {
          width: 32px;
          height: 32px;
        }
  
        .flight-item-callsign {
          padding-left: 15px;
          color: white;
          font-size: 16px;
        }

        &:hover, &:focus {
          background-color: #454545;
        }
      }
    }
  }
}

.page {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #737373;

  &:hover {
    color: #8d8d8d;
  }
}

.header, .main, .footer {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  background-color: #333;
}

.footer .wrapper {
  height: 40px;;
}

.resize {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  z-index: 99;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #565656;
  color: white;
  font-size: 14px;
  outline: none;
  visibility: hidden;
  cursor: pointer;

  &.resize--expand .resize-text__collapse, &.resize--collapse .resize-text__expand {
    display: none;
  }
}

.header {
  .header-title {
    color: white;
    font-size: 35px;

    .powered-by {
      color: #6b6b6b;
      font-size: 13px;
    }
  }

  .header-loading-indicator {
    color: #6b6b6b;
    line-height: 45px;
    vertical-align: middle;
    opacity: 0;
    animation: opacity 1s ease-in;
    transition: opacity .5s;

    .loader {
      display: inline-block;
      border: 4px solid transparent;
      border-top: 4px solid #6b6b6b;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.grid-item {
  position: relative;

  &:hover {
    .resize {
      visibility: visible;
    }
  }

  &.fullscreen {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    grid-area: none !important;
  }

  &.hidden {
    display: none !important;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 70px - 40px);
  width: 100%;
  background: #232729;
  overflow-y: auto;

  .main-wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1.2fr repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "finfo map map map flights" "finfo map map map flights" "finfo map map map flights" "finfo total total total flights";
    gap: 20px;

    & > * {
      border-radius: 10px;
    }

    .grid-item:not(#map) {
      background-color: #333;
      border: 1px solid #565656;

      .grid-item-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-bottom: 1px solid #565656;
        color: white;
        font-size: 20px;
      }

      .grid-item-body {
        height: calc(100% - 50px);
        color: white;
        overflow-y: hidden;
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
}

.footer {
  .footer-dev {
    display: flex;

    span {
      margin-right: 5px;
      color: #6b6b6b;
    }
  }
}

.rs-school-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
}

.inverted-color {
  filter: invert(1);
}

@media(max-width: 1000px) {
  .main-wrapper {
    grid-template-columns: 1fr !important;
    grid-template-rows: none !important;
    grid-template-areas: "map" "finfo" "total" "flights" "c" !important;
    gap: 20px;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
